---
layout: default
title : Qixiang Zhang
navbar_title: Home
---
{% include widgets/profile_card.html %}

{% include widgets/debug_repo_name.html %}

{% include widgets/debug_url.html %}

{% if site.data.display.homepage.show_experience %}
    {% include widgets/experience_card.html %}
{% endif %}

{% if site.data.display.homepage.show_news %}
    {% assign count_news = site.news | size %}
    {% if count_news > 0 %}
        {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
    {% endif %}
{% endif %}

{% if site.data.display.homepage.show_selected_publications %}
    {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
    {% 
        include widgets/publication_card.html 
        publications=pubs
        title='<i class="fas fa-star"></i> Publications'
    %}
{% endif %}

{% include widgets/professional_activities_card.html %}

{% include widgets/misc_card.html %}

<div style="height: 100px;width: 200px;text-align: center;">
<script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=-Ogvfj44tH_GnpzSDTkGs3oz6cAASpqbfZRIoUptw0k"></script>
</div>
