{% if site.data.professional_activities %}
<div class="card mb-3">
    <div class="card-body py-2">
        <h5 class="card-title mb-2"><i class="fas fa-briefcase"></i> Professional Activities</h5>
        
        {% if site.data.professional_activities.journal_reviews %}
        <h6 class="mb-2"> Journal Reviews</h6>
        <ul class="list-group list-group-flush mb-2">
            {% for review in site.data.professional_activities.journal_reviews %}
            <li class="list-group-item py-1">
                {{ review.name }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if site.data.professional_activities.conference_reviews %}
        <h6 class="mb-2"> Conference Reviews</h6>
        <ul class="list-group list-group-flush">
            {% for review in site.data.professional_activities.conference_reviews %}
            <li class="list-group-item py-1">
                {{ review.name }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endif %}
